.Avatar {
  $size: 75px;
  $text-factor: 2.083333;
  $icon-factor: 1.78571;

  position: relative;
  background-color: white;
  border-radius: $border-radius;
  border: 0 solid white;
  display: inline-block;
  font-size: $size / $text-factor;
  height: $size;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: $size;
  z-index: 20;

  &.is-empty {
    background-color: #f7f7f7;
  }

  & .fa {
    font-size: $size / $icon-factor;
    color: #ddd;
  }

  & .fa,
  &-picture {
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-picture {
    max-width: 100%;
  }

  &--xs {
    $size: 24px;

    border-width: $size / 10;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor * 1.4;
    }
  }
  &--xs.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 48px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor;

      .fa {
        font-size: $size / $icon-factor * 1.4;
      }
    }
  }

  &--sm {
    $size: 48px;

    border-width: $size / 10;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor;
    }
  }
  &--sm.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 96px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor;

      .fa {
        font-size: $size / $icon-factor;
      }
    }
  }

  &--md {
    $size: 75px;

    border-width: 8px;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor;
    }
  }
  &--md.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 150px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor;

      .fa {
        font-size: $size / $icon-factor;
      }
    }
  }

  &--lg {
    $size: 100px;

    border-width: 10px;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor;
    }
  }
  &--lg.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 200px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor / 1.5;

      .fa {
        font-size: $size / $icon-factor / 1.5;
      }
    }
  }

  &--xl {
    $size: 150px;

    border-width: 15px;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor;
    }
  }
  &--xl.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 300px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor / 1.5;

      .fa {
        font-size: $size / $icon-factor / 1.5;
      }
    }
  }

  &--xxl {
    $size: 200px;

    border-width: 20px;
    height: $size;
    width: $size;
    font-size: $size / $text-factor;

    .fa {
      font-size: $size / $icon-factor;
    }
  }
  &--xxl.is-expandable {
    @media screen and (min-width: 720px) {
      $size: 400px;

      height: $size;
      width: $size;
      font-size: $size / $text-factor / 2;

      .fa {
        font-size: $size / $icon-factor / 2;
      }
    }
  }
}
