.Avatar {
  $size: 96px;

  position: relative;
  background-color: rgba(white, 0.4);
  border-radius: $size / 2;
  display: inline-block;
  height: $size;
  margin: 0;
  overflow: hidden;
  width: $size;

  &-picture {
    max-width: 100%;
    min-height: $size;
    min-width: $size;
  }
}
