.CardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}

.Card {
  background-color: #fff;
  border-radius: $border-radius;
  display: inline-block;
  padding: 10px;
  text-align: center;

  @media screen and (min-width: 720px) {
    padding: 20px;
  }
}
