.CardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1920px;
  padding: 10px;
}

.Card {
  background-color: #fff;
  border-radius: $border-radius;
  display: inline-block;
  max-width: 100%;
  padding: 10px;
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: 720px) {
    padding: 20px;
  }

  &-image {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100px;
  }
}
