.Card {
  background-color: #fff;
  border-radius: $border-radius;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: calc(100% - 10px);

  @media screen and (min-width: 720px) {
    margin: 10px;
    padding: 20px;
    width: calc(100% - 20px);
  }
}
