.Message {
  background-color: $brand-color-light;
  border-radius: $border-radius;
  border: 1px solid $brand-color-dark;
  color: $brand-color-dark;
  display: block;
  padding: 10px;
  margin: 5px;
  width: calc(100% - 10px);

  &-buttons {
    margin-bottom: 0;
  }

  &-button {
    background-color: transparent;
    border-color: transparent;
    color: inherit !important;
  }

  &--success {
    background-color: $success-light;
    border-color: $success;
    color: $success;
  }

  &--warning {
    background-color: $warning-light;
    border-color: $warning;
    color: $warning;
  }

  &--error {
    background-color: $danger-light;
    border-color: $danger;
    color: $danger;
  }
}
