.Table {
  width: 100%;

  &-card {
    margin-bottom: 10px;
    width: 100%;

    @media screen and (min-width: 720px) {
      width: calc(50% - 5px);

      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  }

  &-row {
    background-color: $white;
    padding: 5px;
  }

  &-cell {
    padding: 4px;
  }

  &--mobile {
    @media screen and (min-width: 1024px) {
      display: none;
    }

    table {
      display: block;
      width: 100%;
    }

    thead,
    tbody {
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }

    thead {
      width: 130px;
    }

    tbody {
      width: calc(100% - 130px);
    }

    tr,
    th,
    td {
      display: block;
      width: 100%;
    }

    .Table {
      &-cell {
        height: 32px;
        vertical-align: top;
      }
    }
  }

  &--desktop {
    @media screen and (max-width: 1023px) {
      display: none;
    }

    .Table {
      &-cell {
        vertical-align: middle;
      }

      &--center {
        text-align: center;
      }
    }
  }
}
