.Table {
  // display: block;
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: table;
  }

  &-row {
    background-color: $white;
    // display: block;
    // margin: 5px;
    padding: 5px;

    @media screen and (min-width: 1024px) {
      display: table-row;
    }
  }

  &-cell {
    // display: inline-block;
    padding: 4px;
    // width: 50%;

    @media screen and (min-width: 1024px) {
      display: table-cell;
    }
  }

  &--center {
    text-align: center;
  }
}
