.PokemonList {
  padding: 20px;

  &-item {
    color: $dark;
    opacity: 0.7;
    transition: opacity 0.3s;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  &-item > * {
    vertical-align: top;
  }

  &-image {
    max-height: 24px;
    margin: 0;
  }
}
