.PokemonDetails {
  background-color: #00b2b6;
  color: $white;
  padding-bottom: 10px;
  width: 100%;
}

$big-radius: 34px;
$small-radius: 15px;
$pokemon-info-width: 300px;
$pokemon-stats-width: 300px;

.PokemonInfo,
.PokemonStats,
.PokemonPreview,
.PokemonPokedexEntry {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.PokemonInfo,
.PokemonStats,
.PokemonPokedexEntry {
  background-color: #009cb3;
  border: 2px solid #009cb3;
  margin: 10px;
  width: calc(100% - 20px);

  @media screen and (min-width: 1024px) {
    margin: 20px;
    width: $pokemon-info-width - 20px;
  }

  &-wrapper {
    border: 2px solid rgba(lighten(#00b2b6, 10), 0.8);
    padding: 10px;
    max-width: 100%;
  }
}

.PokemonInfo {
  @media screen and (min-width: 1024px) {
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
  }

  &,
  &-wrapper {
    border-radius: $big-radius $small-radius $big-radius $small-radius;
  }

  &-strengths,
  &-weaknesses {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
  }
}

.PokemonStats {
  @media screen and (min-width: 1024px) {
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
  }

  &,
  &-wrapper {
    border-radius: $small-radius $big-radius $small-radius $big-radius;
    text-align: center;
  }

  &-chart {
    margin: 0 auto;
    overflow: hidden;
  }

  &-bars {
    margin: 10px auto;
  }
}

.PokemonPreview {
  text-align: center;

  &-image {
    max-height: 216px;
    margin: 0 auto;
    max-width: 216px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 200px;
    width: calc(100% - #{$pokemon-info-width + $pokemon-stats-width});

    &-image {
      max-height: 352px;
      max-width: 352px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 96px;

    &-image {
      max-height: 560px;
      max-width: 560px;
    }
  }
}

.PokemonPokedexEntry {
  background-color: rgba(#0378ae, 0.7);
  border-color: #0378ae;
  font-size: 24px;
  line-height: 1.4;
  width: calc(100% - 20px);

  @media screen and (min-width: 1024px) {
    width: calc(100% - 40px);
  }

  &,
  &-wrapper {
    border-radius: $big-radius $small-radius $big-radius $small-radius;
  }

  &-wrapper {
    border-color: #35b4d7;
    padding: 20px;
  }

  &-text {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.PokemonPagination {
  display: block;
  // 96 + 3*2 (green border, top-bottom) + 2*2 (white border, top-bottom)
  height: 106px;
  margin: 10px 0;

  &-link,
  &-content {
    display: inline-block;
  }

  &-link {
    background-color: darkgreen;
    border: 3px solid rgba(darkgreen, 0.5);
    height: 100%;
    max-width: 48%;
    min-width: 150px;
    transition: width 0.3s;

    @media screen and (min-width: 512px) {
      min-width: 230px;
    }
  }

  &-content {
    border: 2px solid white;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &-label {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    position: relative;
    top: -44%;
    vertical-align: middle;

    @media screen and (max-width: 511px) {
      display: none;
    }
  }

  &--left {
    float: left;
    text-align: right;
  }

  &--left,
  &--left &-content {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    border-left: none;
    margin-left: 0;
  }

  &--right {
    float: right;
  }

  &--right,
  &--right &-content {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    border-right: none;
    margin-right: 0;
  }
}
