.Search {
  &-filters {
    padding: 10px;
  }

  @media screen and (min-width: 720px) {
    &-filters,
    &-results {
      display: inline-block;
      height: 100%;
      vertical-align: top;
    }

    &-filters {
      padding: 20px;
      padding-right: 0;
      width: 240px;
    }

    &-results {
      width: calc(100% - 240px);
    }
  }
}
