.Search {
  $sidebar-size: 280px;

  &-buttons {
    margin: 0;
    padding: 0 8px;
    width: 100%;
  }

  &-filters {
    max-height: 54px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;

    & > form {
      padding: 0 6px;

      & > * {
        display: none !important;
        margin-left: 0;
        margin-right: 0;
        opacity: 0;
        transition: opacity 0.2;
      }
    }

    &.is-open {
      max-height: none;

      & > form > * {
        display: inline-block !important;
        opacity: 1;
        width: 100%;

        @media screen and (min-width: 512px) {
          &[data-type='multi'],
          &[data-type='number'] {
            width: 50%;
          }
        }

        @media screen and (min-width: 1280px) {
          &[data-type='multi'],
          &[data-type='number'] {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &-buttons {
      display: none;
    }

    &-filters,
    &-results {
      display: inline-block;
      height: 100%;
      vertical-align: top;
    }

    &-filters {
      padding: 20px;
      padding-right: 0;
      text-align: left;
      width: $sidebar-size;

      &,
      &.is-open {
        max-height: none;
      }

      & > form {
        padding: 0;

        & > * {
          display: inline-block !important;
          opacity: 1;
          width: 100%;
        }
      }
    }

    &-results {
      width: calc(100% - #{$sidebar-size});
    }
  }
}
