$success-light: #c1fdb5;
$success: #006400;

$warning-light: #fdfeb5;
$warning: #646400;

$danger-light: #f3b5b4;
$danger: #640000;

$black: #000;
$dark: #333;
$white: #fff;
$red: #c80000;
$green: #028733;
$light-green: #e5fce1;
$yellow: #fff280;

$disabled-background: #eee;
$disabled-color: #808080;

$brand-color-light: $danger-light;
$brand-color: $red;
$brand-color-dark: $danger;

$page-max-width: 940px;

$border-radius: 4px;

$button-background: $white;
$button-border: #f8e875;
