.Footer {
  background-color: #fff;
  color: #666;
  font-size: 10px;
  margin-bottom: 0 !important;
  min-height: 0 !important;
  max-width: none;
  padding: 10px;

  @media screen and (orientation: landscape), screen and (min-width: 720px) {
    text-align: center;
    padding: 20px;
  }

  &-wrapper {
    margin: 0 auto;
    max-width: 1280px;
  }
}
