.Header {
  $header-height: 56px;

  background-color: $black;
  color: $white;
  flex-shrink: 0;
  height: $header-height;
  width: 100%;

  & > * {
    vertical-align: top;
  }

  &-item {
    display: inline-block;
    height: $header-height;
    min-width: $header-height;
    padding: 10px;
  }

  &-logo {
    height: $header-height - 20px;
    width: $header-height - 20px;
  }
}
