.Header {
  $header-height: 56px;

  background-color: $black;
  color: $white;
  flex-shrink: 0;
  height: $header-height;
  width: 100%;

  & > * {
    vertical-align: top;
  }

  &-item {
    background-size: $header-height - 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: $header-height;
    line-height: $header-height - 20px;
    padding: 10px 4px;
    text-align: center;
    transition: background-color 0.2s;
    width: calc((100% - #{$header-height}) / 3);

    @media screen and (min-width: 480px) {
      padding: 10px;
      width: 120px;
    }

    @media screen and (min-width: 1024px) {
      & > * {
        background-color: transparent;
        opacity: 0;
      }

      &:active,
      &:focus,
      &:hover {
        & > * {
          background-color: rgba($black, 0.5);
          opacity: 1;
        }
      }
    }

    &.is-disabled {
      opacity: 0.4;

      &:active,
      &:focus,
      &:hover {
        & > * {
          opacity: 0;
        }
      }
    }

    &:first-child,
    &:first-child:active,
    &:first-child:focus,
    &:first-child:hover {
      padding: 10px;
      width: $header-height;

      & > * {
        background-color: transparent;
      }
    }

    & > * {
      background-color: rgba($black, 0.5);
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: opacity 0.2s;
      white-space: nowrap;
      width: 100%;
    }
  }

  &-logo {
    height: $header-height - 20px;
    width: $header-height - 20px;
  }
}
