.App {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  transition: height 0.3s, width 0.3s;

  @media screen and (min-width: 1921px) {
    max-height: 720px;
    max-width: 1280px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &-content {
    flex-grow: 1;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
  }
}
