// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Font awsome styles
@import '~font-awesome/css/font-awesome.css';

@import 'abstracts/variables', 'abstracts/functions', 'abstracts/helpers';

@import 'modules/pokemon-details', 'modules/pokemon-list', 'modules/search';

@import './app';

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// react-svg-radar-chart
.scale {
  fill: #95bec4;
  stroke: #009cb3;
  stroke-width: 2;
}

.axis {
  stroke: #009cb3;
  stroke-width: 1;
}

.shape {
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-width: 1;
}

.caption {
  fill: #fff;
  font-weight: 700;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body,
#app-wrapper {
  height: 100%;
}

body {
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  min-width: 320px;
  overflow: hidden;
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

#app-wrapper {
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 2220px;

  @media screen and (max-width: 1920px) {
    background-image: none !important;
  }
}

.HomeButton {
  $size: 80px;
  background-color: transparent;
  display: none;
  height: $size;
  left: calc(50% + 846px);
  position: absolute;
  top: calc(50% + 164px);
  width: $size;
  z-index: 1;

  @media screen and (min-width: 1921px) {
    display: block;
  }
}
