// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Font awsome styles
@import '~font-awesome/css/font-awesome.css';

@import 'abstracts/variables', 'abstracts/functions', 'abstracts/helpers';

@import 'shell/footer', 'shell/header';

@import 'forms/buttons', 'forms/checkbox', 'forms/date', 'forms/dropdown', 'forms/forms', 'forms/radio', 'forms/switch',
  'forms/tabs', 'forms/text';

@import 'components/avatar', 'components/card', 'components/link', 'components/list', 'components/loading',
  'components/message', 'components/table';

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html,
body,
#app-wrapper {
  background-color: #efefef;
}

body {
  color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5em;
  min-width: 320px;
  position: relative;
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.is-inherit,
.is-inherit:hover,
.is-inherit:visited,
.is-inherit:active {
  color: inherit;
}

.App {
  width: 100%;

  &-content {
    margin: 0;
    width: 100%;
    z-index: 100;
  }
}

.Spacer {
  border-bottom: 1px solid #ddd;
  display: block;
  margin: 20px auto;
  width: 100%;
}

.Spacer--xs {
  border: none;
  margin: 10px auto;
}

.Spacer--sm {
  border: none;
  margin: 15px auto;
}
