.Buttons {
  margin: 10px 5px;
  text-align: right;
  width: calc(100% - 10px);

  &.is-left {
    text-align: left;
  }

  &.is-center {
    text-align: center;
  }
}

.Button {
  background-color: $button-background;
  border: 2px solid $button-background;
  border-radius: $border-radius;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  margin: 4px 2px;
  max-width: calc(100% - 10px);
  text-align: center;
  vertical-align: middle;

  &-wrapper {
    background-color: $button-background;
    border-radius: $border-radius;
    border: 2px solid $button-border;
    color: $black;
    cursor: inherit;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3em;
    max-width: 100%;
    padding: 4px 16px;
  }

  &:active,
  &:focus,
  &:hover,
  &.is-active {
    background-color: $button-border;
    border-color: $button-border;

    .Button-wrapper {
      background-color: $button-border;
      border-color: $button-background;
    }
  }

  .Loading {
    margin: 0 auto;
    width: auto;
  }

  &--success {
    background-color: $success;
    color: white;

    .Button-wrapper {
      border-color: darken($success, 20);
    }
  }

  &--warning {
    background-color: $warning;
    color: white;

    .Button-wrapper {
      border-color: darken($warning, 20);
    }
  }

  &--danger {
    background-color: $danger;
    color: white;

    .Button-wrapper {
      border-color: darken($danger, 20);
    }
  }

  // Shapes
  &--link {
    background-color: transparent;
    border-color: transparent;
    color: $brand-color;
    cursor: pointer;
  }

  &--link.Button--success {
    background-color: transparent;
    border-color: transparent;
    color: $success;
    cursor: pointer;
  }

  &--link.Button--warning {
    background-color: transparent;
    border-color: transparent;
    color: $warning;
    cursor: pointer;
  }

  &--link.Button--danger {
    background-color: transparent;
    border-color: transparent;
    color: $danger;
    cursor: pointer;
  }

  // Sizes
  &--icon,
  &--icon > * {
    min-width: 36px;
    overflow: initial;
    text-overflow: initial;
    white-space: normal;
  }

  &--large {
    font-size: 22px;
    .Button-wrapper {
      padding: 15px 25px;
    }
  }

  // Statuses
  &:disabled,
  &.is-disabled {
    background-color: lightgray !important;
    border-color: darkgray !important;
    color: gray !important;
    cursor: not-allowed !important;
  }
}
