.Date {
  color: #666;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-top: 10px;
  position: relative;
  width: calc(100% - 10px);

  &-field {
    appearance: none;
    background-color: white;
    border-radius: $border-radius;
    border: none;
    border-bottom: 1px solid $brand-color;
    border-top: 1px solid transparent;
    display: block;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.3em;
    padding: 5px 10px;
    padding-right: 30px;
    width: 100%;

    user-select: initial;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;

    // Statuses
    &:disabled,
    &.disabled {
      background-color: $disabled-background !important;
      color: $disabled-color !important;
      cursor: not-allowed !important;
    }
  }

  .vdp-datepicker__clear-button {
    position: absolute;
    right: 10px;
    top: 2px;
  }

  .vdp-datepicker__calendar .cell.selected {
    background-color: $brand-color;
    border-radius: $border-radius;
    color: white;
  }
}
